.inAction {
    pointer-events: none;
}

.field {
    margin: 10px;
    position: relative;
    background-image: url(../../public/assets/battlegrounds/CmBkMag.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-color: rgb(255, 250, 250, 0.5);
    border: 3px solid gold;
}

.field:before {
    content: " ";
    position: absolute;
    z-index: -1;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-left: 2px solid rgba(44, 42, 30, 0.5);
    border-top: 2px solid rgba(44, 42, 30, 0.5);
}

.grid {
    position: relative;
    padding-top: 15%;
    padding-left: 0; /* clears default 40px of unordered list */
    width: 80%;
    margin-right: 2.5%
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

li {
    list-style-type: none;
    position: relative;
    float: left;
    width: 6.65%;
    padding: 0 0 7.67% 0;
    background-image: url(../../public/assets/textures/hex-grid.png);
    background-size: cover;
}

li * {
    visibility: visible;
}

li:nth-child(30n+16),
li:nth-child(30n+17),
li:nth-child(30n+18),
li:nth-child(30n+19),
li:nth-child(30n+20),
li:nth-child(30n+21),
li:nth-child(30n+22),
li:nth-child(30n+23),
li:nth-child(30n+24),
li:nth-child(30n+25),
li:nth-child(30n+26),
li:nth-child(30n+27),
li:nth-child(30n+28),
li:nth-child(30n+29),
li:nth-child(30n+30)
{
    margin-top: -2%;
    margin-bottom: -2%;
    -o-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hexagon:hover {
    /* cursor: pointer; */
    /* margin:10%; */
    /* background-color: rgba(51, 51, 51, 0.5); */
    background-image: url(../../public/assets/textures/hex-hover.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.hexagon * {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    /* background-color: rgba(255,255,255,1); */
}

.inRange {
    margin: 0;
    padding: 0;
    background-image: url(../../public/assets/textures/hex-inrange.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.active {
    margin: 0;
    padding: 0;
    background-image: url(../../public/assets/textures/hex-active.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.unsteppable {
    margin: 0;
    padding: 0;
    background: none;
    /* background-image: url(../../public/assets/textures/hex-intricate.png);
    background-size: cover;
    background-repeat: no-repeat; */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.combFooter {
    height: 35px;
    text-align: center;
    margin: 0px 2px 2px 2px;
    background-image: url(../../public/assets/textures/461223166.jpg);
    background-repeat: repeat-x;
    background-color: brown;
    border: 2px solid gold;
    color: white;
    outline: black solid 1px;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: 0px 2px;
    background-image: url(../../public/assets/textures/461223166.jpg);
    background-repeat: repeat-x;
    background-color: brown;
    border: 2px solid gold;
    color:white;
    outline: black solid 1px;
}

.log {
    text-align: center;
    height: 100%;
    flex-flow: 2;
    width: 100%;
    overflow-y: scroll;
}

button {
    height: 100%;
    flex-grow: 1;
    /* width: 100%; */
    background-image: url(../../public/assets/textures/461223166.jpg);
    /* background-repeat: repeat-x; */
    background-color: brown;
    border-right: 2px solid gold;
}

.infoPanel {
    height: 35px;
    text-align: center;
    margin: 15% 5% 5% 5%;
    background-image: url(../../public/assets/textures/461223166.jpg);
    background-repeat: repeat-x;
    background-color: brown;
    border: 2px solid gold;
    color: white;
    outline: black solid 1px;
}

.creatureInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
    margin: 5px;
    height: 30%;
    max-width: 10%;
    width: 9%;
    background-image: url(../../public/assets/textures/461223166.jpg);
    background-color: brown;
    background-repeat: repeat-y;
    border: 1px solid gold;
    outline: black solid 1px;
    text-align: center;
    color: white;
    font-size: 1vw;
    visibility: hidden;
}

.redPanel {
    width: 100%;
    margin: 1px;
    background-color: darkred;
    border: 1px solid gold;
    outline: black solid 1px;
    padding: 3px;
}

.infoSubtile {
    width: 100%;
    background-image: url(../../public/assets/textures/461223166.jpg);
    background-color: brown;
    background-repeat: repeat-y;
    text-align: center;
    color: white;
    font-size: 1vw;
}